#slidemenupanel{data: {display: "push", position: "left", role: "panel"}}
  %ul
    %li= nav_link "Home", "/"
    %li= nav_link "Blog", "/blog.html"
    %li.desktop--none= nav_link "Directions", "/dir.html"
    %li= nav_link "Contact Us", "/index.html#contact", relative: false, rel: "external"
    %li= nav_link "Careers", "/careers.html"
    %li= nav_link "Press", "/press.html"
