---
title: Mission Focus
blog: "blog"
---
.index--header{data: {speed: 5, type: "background"}}
  .index--company-name Mission Focus
  %p.index--tagline Large-scale solutions for today's warfighter
  %section.nav--index-header
    = link_to "Blog", "/#blog", class: "nav--index-header-anchors active"
    = link_to "Directions", "/#dir", class: "nav--index-header-anchors"
    = link_to "Contact", "/#contact", class: "nav--index-header-anchors"

= partial "about"

= partial "blog"

= partial "careers"

= partial "contact"

= partial "directions"
