---
layout: subpages
title: Mission Focus
---
.press-page.col-md-10.col-md-offset-1

  %section
    %h1.page-title Brand Assets and Guidelines
    %p.intro The Mission Focus represents our discipline and our integrity, qualities which we value highly at Mission Focus.

  %section
    %h2 Basic Rules
    %ul
      %li Our logo can be used with the full logo type or with just the mark.
      %li The full logo lockup can be used in black for printers or in color, but not in white.
      %li The logo mark can be used in full color or in white, but not in black.

  %section
    %h2 Mission Focus Logos
    %img.logo-downloads{src: "/brand/all.png"}

    .logos
      .col-sm-3
        %h3 Full-color, full-lockup logo
        %p
          = link_to "EPS", "/brand/mf_full-lockup_rgb.eps"
          = link_to "PNG", "/brand/mf_full-lockup_rgb.png"
      .col-sm-3
        %h3 Full-color logo-mark
        %p
          = link_to "EPS", "/brand/mf_logomark_rgb.eps"
          = link_to "PNG", "/brand/mf_logomark_rgb.png"
      .col-sm-3
        %h3 Black-and-white lockup logo
        %p
          = link_to "EPS", "/brand/mf_full-lockup_bw.eps"
          = link_to "PNG", "/brand/mf_full-lockup_bw.png"
      .col-sm-3
        %h3 White logo mark
        %p
          = link_to "EPS", "/brand/mf_logomark_bw.eps"
          = link_to "PNG", "/brand/mf_logomark_bw.png"


  %section
    %h3 GDAC Logo

    .logos
      .col-sm-3
        %img.gdac{src: "/brand/gdac_logo.png"}

      .col-sm-3
        %h3 Full-color, full-lockup logo
        %p
          %a{href: "/brand/gdac_logo.eps"} EPS
          %a{href: "/brand/gdac_logo.png"} PNG

